<div class="container">
  <div class="header">
    <h2>
      لیست رسید ها (خرید)
    </h2>
    <button class="btn btn-success" (click)="showModal()">
      اضافه کردن رسید جدید
    </button>
  </div>
  <table class="styled-table">
    <thead>
      <tr>
        <th>شناسه کالا</th>
        <th>نام کالا</th>
        <th>تعداد </th>
        <th> ویرایش</th>
        <th> حذف</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of receiptList; let i=index">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.number}}</td>
        <td> <button class="btn btn-warning">
            ویرایش
          </button></td>
        <td> <button class="btn btn-delete">
            حذف
          </button></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal-wrapper" *ngIf="activeModal">
  <div class="content-modal">
    <span class="close" (click)="closeModal()">
      x
    </span>
    <h4>
      اضافه کردن حواله جدید
    </h4>

    <div class="form-new">
      <form #reciptProduct>
        <div class="group_form">
          <label>نام کالا</label>
          <select name="productName" class="form-control">
            <option *ngFor="let product of productList" [value]="product.id">{{product.name}}</option>
          </select>
        </div>
        <div class="group_form">
          <label>تعداد کالا</label>
          <input type="number" name="productNum" class="form-control" />
        </div>
        <div class="group_form_textArea">
          <label>توضیحات</label>
          <textarea id="w3review" name="reciptDes" rows="4" cols="150" class="form-control-text">
            </textarea>
        </div>
      </form>
      <div class="action-form">
        <button class="btn btn-secoundry" (click)="closeModal()">
          لغو
        </button>
        <button class="btn btn-success">
          ثبت
        </button>
      </div>
    </div>
  </div>
</div>