<div class="container">
  <div class="header">
    <h2>
      لیست رسید ها (خرید)
    </h2>
    <button class="btn btn-success" (click)="showModal()">
      اضافه کردن رسید جدید
    </button>
  </div>
  <table class="styled-table">
    <thead>
      <tr>
        <th>شناسه کالا</th>
        <th>نام کالا</th>
        <th> تعداد خرید </th>
        <th> تاریخ حواله </th>
        <th> ویرایش</th>
        <th> حذف</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of receiptList; let i=index">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.number}}</td>
        <td>{{item.receiptDate}}</td>
        <td>
          <button class="btn btn-warning" (click)="showModalForEdit(item)">
            ویرایش
          </button>
        </td>
        <td> <button class="btn btn-delete" (click)="showPopupActive(item.id)">
            حذف
          </button></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal-wrapper" *ngIf="activeModal">
  <app-create-new-receipt (onClose)="closeModal()" [editId]="editId" (addItem)="addItemToReceiptList($event)"
    [receiptList]="receiptList" [productList]="productList"
    (editReceiptList)="editReceiptList($event)"></app-create-new-receipt>
</div>

<div class="confirm-popup" *ngIf="popupActive">
  <div class="content">
    <span>!</span>
    <p>آیا از حذف این کالا اطمینان دارید؟</p>
    <button class="btn btn-delete" (click)="deleteItem()">
      بله
    </button>
    <button class="btn btn-secoundry" (click)="closePopupActive()">
      خیر
    </button>
  </div>
</div>