<div class="content-modal">
  <span (click)="close()" class="close">
    x
  </span>
  <h4>
    اضافه کردن محصول جدید
  </h4>

  <div class="form-new">
    <form #addProduct="ngForm" (ngSubmit)="onSubmit()">
      <div class="group_form">
        <label>نام کالا</label>
        <input type="text" name="name" class="form-control" [(ngModel)]="editData.name" />
      </div>
      <div class="group_form">
        <label>دسته بندی</label>
        <select name="category" class="form-control" [(ngModel)]="editData.category">
          <option *ngFor="let category of catgories" [value]="category.key">{{category.value}}</option>
        </select>
      </div>
      <div class="group_form">
        <label>سال تولید</label>
        <input type="text" name="year" class="form-control" [(ngModel)]="editData.year" />
      </div>
      <div class="group_form">
        <label>رنگ کالا</label>
        <input type="text" name="color" class="form-control" [(ngModel)]="editData.color" />
      </div>
      <div class="group_form">
        <label>وزن کالا</label>
        <input type="number" name="weight" class="form-control" [(ngModel)]="editData.weight" />
      </div>
    </form>
    <div class="action-form">
      <button class="btn btn-secoundry" (click)="close()" type="button">
        لغو
      </button>
      <button class="btn btn-success" (click)="onSubmit()" type="submit">
        ثبت
      </button>
    </div>
  </div>
</div>