<header>
    <ul class="nav_new">
        <li [routerLink]="['/product-list']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            لیست محصولات
        </li>
        <li [routerLink]="['/product-receipt']" routerLinkActive="active">
            ثبت رسید
        </li>
        <li [routerLink]="['/product-sale']" routerLinkActive="active">
            ثبت حواله
        </li>
        <li [routerLink]="['/report']" routerLinkActive="active">
            گزارش خرید و فروش
        </li>
    </ul>
</header>

<router-outlet></router-outlet>