<div class="container">
  <div class="header">
    <h2>
      لیست محصولات انبار
    </h2>
    <button class="btn btn-success" (click)="showModal()">
      اضافه کردن محصول جدید
    </button>
  </div>
  <div class="body">
    <table class="styled-table">
      <thead>
        <tr>
          <th>شناسه کالا</th>
          <th>نام کالا</th>
          <th>دسته بندی </th>
          <th>سال تولید</th>
          <th>رنگ </th>
          <th> وزن</th>
          <th> موجودی انبار</th>
          <th> ویرایش</th>
          <th> حذف</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of productList; let i=index">
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{replaceCategory(item.category)}}</td>
          <td>{{item.year}}</td>
          <td>{{item.color}}</td>
          <td>{{item.weight}}<span>kg</span></td>
          <td>{{item.number}}</td>
          <td> <button class="btn btn-warning" (click)="showModalForEdit(item)">
              ویرایش
            </button></td>
          <td>
            <button class="btn btn-delete" (click)="showPopupActive(item.id)">
              حذف
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<div class="modal-wrapper" *ngIf="activeModal">
  <app-create-new-product (onClose)="closeModal()" [editId]="editId" (addItem)="addItemToProductList($event)"
    [catgories]="catgories" [productList]="productList"
    (editProductList)="editProductList($event)"></app-create-new-product>
</div>

<div class="confirm-popup" *ngIf="popupActive">
  <div class="content">
    <span>!</span>
    <p>آیا از حذف این کالا اطمینان دارید؟</p>
    <button class="btn btn-delete" (click)="deleteItem()">
      بله
    </button>
    <button class="btn btn-secoundry" (click)="closePopupActive()">
      خیر
    </button>
  </div>
</div>