<div class="container">
  <div class="header">
    <h2>
      لیست حواله ها (فروش)
    </h2>
    <button class="btn btn-success" (click)="showModal()">
      اضافه کردن حواله جدید
    </button>
  </div>
  <table class="styled-table">
    <thead>
      <tr>
        <th>شناسه کالا</th>
        <th>نام کالا</th>
        <th> تعداد حواله </th>
        <th> تاریخ ثبت حواله </th>
        <th> ویرایش</th>
        <th> حذف</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of saleList; let i=index">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.number}}</td>
        <td>{{item.date}}</td>
        <td>
          <button class="btn btn-warning" (click)="showModalForEdit(item)">
            ویرایش
          </button>
        </td>
        <td> <button class="btn btn-delete" (click)="showPopupActive(item.id)">
            حذف
          </button></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal-wrapper" *ngIf="activeModal">
  <app-create-new-sale (onClose)="closeModal()" [editId]="editId" (addItem)="addItemToSaleList($event)"
    [saleList]="saleList" [productList]="productList" (editSaleList)="editSaleList($event)"></app-create-new-sale>
</div>

<div class="confirm-popup" *ngIf="popupActive">
  <div class="content">
    <span>!</span>
    <p>آیا از حذف این کالا اطمینان دارید؟</p>
    <button class="btn btn-delete" (click)="deleteItem()">
      بله
    </button>
    <button class="btn btn-secoundry" (click)="closePopupActive()">
      خیر
    </button>
  </div>
</div>
<div class="confirm-popup" *ngIf="popupActiveMojodi">
  <div class="content">
    <span>!</span>
    <p class="red">این تعداد در انبار موجود نیست</p>
    <p style="font-size: 14px;
    color: gray;">موجودی فعلی این محصول: <strong style="color: green;">{{mojodi.number}} عدد</strong> </p>
    <button class="btn btn-secoundry" (click)="closePopupActiveMojodi()">
      بستن
    </button>
  </div>
</div>