<div class="container">
  <div class="header">
    <h2>
      گزارش ها
    </h2>
    <div class="action-list">
      <button class="btn btn-success" (click)="showReportTable()">
        دریافت گزارش خرید یا فروش محصولات
      </button>
      <div style="     display: inline-flex;
      column-gap: 7px;
      align-items: flex-end;">
        <button class="btn btn-primary" (click)="sortByDateAs()" [ngClass]="{'disable': reportList.length == 0}">
          مرتب سازی صعودی
        </button>
        <button class="btn btn-primary" (click)="sortByDateDes()" [ngClass]="{'disable': reportList.length == 0}">
          مرتب سازی نزولی
        </button>
        <!-- <div>
          <label for="pet-select"> مرتب سازی براساس نوع:</label>
          <select name="pets" id="pet-select" class="form-control">
            <option value="">--انتخاب کنید--</option>
            <option value="receipt" (click)="setFilter('receipt')">خرید</option>
            <option value="sale" (click)="setFilter('sale')">فروش</option>
          </select>
        </div> -->

      </div>
    </div>
  </div>

  <table class="styled-table" *ngIf="showReport">
    <thead>
      <tr>
        <th>ردیف</th>
        <th>نام کالا</th>
        <th>نوع</th>
        <th>تعداد</th>
        <th>تاریخ ثبت</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of reportList; let i=index">
        <td>{{i+1}}</td>
        <td>{{item.name}}</td>
        <td>{{item.type}}</td>
        <td>{{item.number}}</td>
        <td *ngIf="item.date">{{item.date}}</td>
      </tr>
      <tr class="total">
        <td></td>
        <td></td>
        <td *ngIf="numberSale"> کل فروش: {{numberSale}}</td>
        <td *ngIf="numberReceipt"> کل خرید : {{numberReceipt}}</td>
        <td>میانگین کل خرید وفروش: {{average}}</td>
      </tr>
    </tbody>
  </table>
</div>