tr.total {
    background-color: #28a7451f;
    color: #048304;
    font-weight: bold;

}

.action-list {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.disable {
    opacity: 0.6;
    cursor: not-allowed;
}