<div class="container">
  <div class="header">
    <h2>
      گزارش ها
    </h2>
    <button class="btn btn-success" (click)="showReportTable()">
      دریافت گزارش خرید یا فروش محصولات
    </button>
  </div>

  <table class="styled-table" *ngIf="showReport">
    <thead>
      <tr>
        <th>نام کالا</th>
        <th>نوع</th>
        <th>تعداد</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of reportList; let i=index">
        <td>{{item.name}}</td>
        <td>{{item.type}}</td>
        <td>{{item.number}}</td>
      </tr>
      <tr class="total">
        <td></td>
        <td></td>
        <td>میانگین کل : {{average}}</td>
      </tr>
    </tbody>
  </table>
</div>